extends layout

block content
  .main
    .container
      h1 All Videos
      for vid in allVideos
        .embeded-video
          iframe(src=vid.url, height='110', width='196', title='YouTube Video Player')
          p
            a(href='/tube/video/' + vid._id)= vid.name

//- http://img.youtube.com/vi/uH6w7yAO6m4/0.jpg
