extends layout

block content
  .main
    .container
      h1 All Videos
      for vid in allVideos
        .embeded-video
          //- iframe(src=vid.url, height='110', width='196', title='YouTube Video Player')
          a(href='/tube/video/' + vid._id)
              img(src='http://img.youtube.com/vi/' + vid.url + '/0.jpg', style='height: 110px; width:196px')
          p
            a(href='/tube/video/' + vid._id)= vid.name
  .footer
    .container
  script(src='/javascripts/vids.js')
