extends layout

block content
  h1 All Videos
  for vid in allVideos
    h2
      a(href='#')= vid.name
    iframe(src=vid.url, height='390', width='480', title='YouTube Video Player')
  br
  a(href='/') Home


//- https://www.youtube.com/embed/Z-PS7jmSiMY
//- 
//- https://www.youtube.com/embed/tYV2y89M5eQ
