extends layout

block content
  h1 Welcome #{user}
  if userVideos.length > 0
    h3 Your posted videos:
    for video in userVideos
      h4
        a(href='/tube/video/' + video._id)= video.name
        br
        iframe(src=video.url, height='190', width='280', title='YouTube Video Player')
        a(href='/tube/video/edit/' + video._id) Edit
    a(href='/tube') To All Videos
    br
    a(href='/tube/new-video/' + userId) Add Video
  else
    h3 You don't have any posted videos
    h3 Please: 
      a(href='/tube/new-video/' + userId) Add A Video
    a(href='/tube') To All Videos
