body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#like-button {
  color: white;
  background-color: green;
}

#dislike-button {
  color: white;
  background-color: red;
}

.hide-me {
  display: none;
}

#user-comments {
  border: solid black 1px;
  width: 50%;
}

#comment-input {
  border: solid rgba(0, 0, 0, 0.1) 1px;
  resize: none;
  width: 400px;
  height: 35px;
  outline: none;
}

#comment-input:hover {
  cursor: pointer;
}

.comment-cursor {
  border: solid rgba(0, 0, 0, 0.1) 1px;
  resize: none;
  width: 400px;
  outline: none;
}

#comment-submit {
  display: none;
}

.embeded-video {
  display: inline-block;
  padding-left: 20px;
}
