* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: black;*/
  padding-top: 70px;
}

#profile-image {
  height: 50px;
  width: 50px;
  float: right;

}

#logout {
  float: right;
  margin-top: 13px;
  margin-left: 20px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

label {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

input {
  border: none;
  box-shadow: inset 0 1px 3px #ddd;
  padding-left: 10px;
  width: 13em;
  height: 3em;
  border-radius: 5px;
  outline: 0;
}

textarea {
  border: none;
  box-shadow: inset 0 1px 3px #ddd;
  padding-left: 10px;
  width: 45em;
  height: 15em;
  border-radius: 5px;
  margin-top: 5px;
  padding-top: 8px;
  outline: 0;
  margin-bottom: 1em;
}

#url {
  width: 300px;
}

#name {
  font-size: 1em;
}

#button, #comment-submit {
  border: solid #1f5c99 2px;
  background-color: #1f5c99;
  /*font-weight: bolder;*/
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 5px;
  font-size: 1em;
  color: white;
}

#cancel-button, #update-image, #preview-button, #login-button {
  border: solid #1f5c99 2px;
  background-color: #1f5c99;
  font-size: 12px;
  color: white;
}

#login-button {
  margin-bottom: 10px;
}

#user-name, #password, #pass-check, #age {
  margin-top: 8px;
  font-size: 12px;
}

#pass-check {
  margin-bottom: 1em;
}

#image-url {
  font-size: 12px;
}

#button:hover, #comment-submit:hover, #cancel-button:hover, #update-image:hover, #preview-button:hover, #login-button:hover {
  background-color: #F4F7F5;
  color: black;
  cursor: pointer;
}

#button:active, #comment-submit:active {
  font-weight: normal;
  border: solid #1f5c99 5px;
}

#image-prev {
  height: 50px;
  width: 50px;
}

.nav-section a {
  color: white;
}

.nav-section a:hover {
  border-bottom: solid white 2px;
  color: black;
}

#sign-in-overlay, #user-image-overlay {
  min-height: 550px;
  max-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);;
  position: absolute;
  display: none;
}

.container {
  margin: 0 auto;
  width: 960px;
  height: 100%;
  padding: 1em;
}

.main > .container {
  background-color: white;
  min-height: 550px;
}

.main {
  background-color: #D3D3D3;
}

.footer {
  background-color: #444444;
  color: #fff;
  border-top: 1px solid #2f2f2f;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 4px -3px rgba(0, 0, 0, 0.5);
  height: 100px;
}

.nav-section {
  background-color: #1f5c99;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.main {
  /*height: 600px;*/
  /*background-color: pink;*/
}

.footer {
  /*height: 50px;*/
  /*background-color: brown;*/
}

.nav-section ul {
  list-style-type: none;
  display: inline-block;
  padding-left: 0px;
}

.nav-section li {
  display: inline-block;
  margin-left: 20px;
}

.nav-section li:first-child {
  margin-left: 0px;
}

.login-box {
  display: inline-block;
  background-color: white;
  margin: 10% 40%;
  border-radius: 20px;
}

.login {
  border-radius: 20px;
  padding: 20px;
}

.login-box label, .login-box input {
  display: block;
}

.wrapper {
  max-width: 960px;
  height: 1000px;
  margin: 0 auto;
  border: solid black 1px;
}

#like-button, #liked-button {
  color: white;
  background-color: green;
  display: block;
  border: solid green 1px;
  font-weight: bold;
}

#like-button:hover, #liked-button:hover, #dislike-button:hover, #disliked-button:hover {
  cursor: pointer;
  background-color: white;
}

#like-button:hover, #liked-button:hover {
  color: green
}

#dislike-button:hover, #disliked-button:hover {
  color: red;
}

#like-count, #dislike-count {
  display: inline-block;
}

#dislike-button, #disliked-button {
  color: white;
  background-color: red;
  border: solid red 1px;
  font-weight: bold;
}

#dislike-button-gray {
  background-color: gray;
}

.hide-me {
  display: none;
}

#user-comments {
  width: 50%;
}

.comment-output {
  border: solid rgba(0, 0, 0, 0.1) 1px;
}

.single-comment {
  padding: 10px;
}

.single-comment:nth-child(odd) {
  background-color: #1f5c99;
  color: white;
}

.new-single-comment {
  padding: 10px;
}

#new-comments {
  border: solid rgba(0, 0, 0, 0.1) 1px;
}

#comment-input {
  border: solid rgba(0, 0, 0, 0.1) 1px;
  resize: none;
  width: 400px;
  height: 35px;
  outline: none;
}

.user-info {
  display: inline-block;
  float: right;
  padding-top: 10px;
}

#dasboard-link {
  display: block;
}

#comment-input:hover {
  cursor: pointer;
}

.comment-cursor {
  border: solid rgba(0, 0, 0, 0.1) 1px;
  resize: none;
  width: 400px;
  outline: none;
}

#comment-submit {
  display: none;
}

.uploaded-videos {
  display: inline-block;
  margin-right: 20px;
}

.picture-box {
  height: 100px;
  width: 100px;
  background-color: white;
}

#image-form {
  background-color: white;
  display: inline-block;
  border-radius: 20px;
  padding: 20px;
  margin: 10% 40%;
}

#image-form label, #image-form input {
  margin-top: 10px;
  display: block;
}

.embeded-video {
  height: 196px;
  width: 200px;
  display: inline-table;
  margin-right: 20px;
}
